{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% comment %} 
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" /> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/menu.css' %}" />
</head>

<body class="MenuPage">
    <header>
        <div class="logo">
            <img src="{% static '/images/logo.jpg' %}" alt="" />
        </div>

        <div class="heading">
            <span class="headingName">Cuisine Name</span>
        </div>
    </header>

    <div class="itemList">
        <div class="item">
            <div class="left">
                <span>P <img src="{% static '/images/veg.jpg' %}" alt=""> <br> <span class="price"> ₹
                        249</span> </span>
            </div>

            <div class="right">
                <div class="right-1">
                    <button class="minus" onclick="decrement(this)">-</button>
                    <input value=1 class="quantity" type="number" name="" id="quantity" min="1" max="10">
                    <button class="plus" onclick="increment(this)">+</button> 
                </div>

                <div class="right-2">
                    <button class="addbutton" onclick="add(this)"> ADD </button>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="left">
                <span>Dal Fry <img src="{% static '/images/veg.jpg' %}" alt=""><br> <span class="price"> ₹ 199 </span>
                </span>
            </div>

            <div class="right">
                <div class="right-1">
                    <button class="minus" onclick="decrement(this)">-</button>
                    <input value=1 class="quantity" type="number" name="" id="quantity" min="1" max="10">
                    <button class="plus" onclick="increment(this)">+</button> 
                </div>

                <div class="right-2">
                    <button class="addbutton" onclick="add(this)"> ADD </button>
                </div>
            </div>

        </div>
    </div>

    <script>
        function increment(inc) {
            inc.parentNode.childNodes[3].stepUp(1)
        }
        function decrement(dec) {

            if(dec.parentNode.childNodes[3].value > 1){
                dec.parentNode.childNodes[3].stepDown(1)
            }else{
                dec.parentNode.style.display = "none";
                
                dec.parentNode.parentNode.childNodes[3].style.display = "block";

            }
            
        }

        function add(order){
            order.parentNode.style.display = "none";
            order.parentNode.parentNode.childNodes[1].style.display = "block"
        }
    </script>

</body>

</html>