{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project | Bar Stock Exchange</title>

    <link rel="stylesheet" href="{% static '/css/landing.css' %}" />

</head>

<body>

    <header>

        <div class="logo">
            <img src="{% static '/images/Landing/logo.png' %}" alt="">
        </div>

        <nav></nav>
    </header>

    <main>

        <div class="title Slide">
            <div class="header">
                <h1>Bar Stock Exchange.</h1>
                <p>Investigationes demonstraverunt lectores legere me ii legunt saepius etiam processus dynamicus
                    sequitur
                    mutationem.</p>

                <a href="#project">read more</a>
            </div>
        </div>

        <div class="project Slide" id="project">
            <h2>Featured <b>projects.</b></h2>
            <p>Qumonstraverunt lectores legere me ii legunt saepius.</p>

            <div class="gallery">
                <div class="big">
                    <img src="{% static '/images/Landing/feature-1.png' %}" alt="">
                </div>
                <div class="small">
                    <img src="{% static '/images/Landing/feature-2.png' %}" alt="">
                </div>
            </div>
            <br><br>
            <a href="">view QR code > </a>
        </div>

        <div class="features Slide">
            <h2>We are offering <b>unique ideas</b> to clients worldwide.</h2>
            <p>Investigationes demonstraverunt lectores legere.</p>

            <div class="slideshow">
                <div class="slides">
                    <div class="slide">
                        <div>
                            <div class="photo">
                                <img src="{% static '/images/Landing/infobox1.png' %}" alt="">
                            </div>
                            <h4>Web App Interfaces</h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur consuetudium
                                lectorum quam nunc parum claram eu facilisis eros te feugait nulla facilisi dolore
                                tempor cum soluta.
                            </p>
                        </div>
                        <div>
                            <div class="photo">
                                <img src="{% static '/images/Landing/infobox2.png' %}" alt="">
                            </div>
                            <h4>Web App Interfaces</h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur consuetudium
                                lectorum quam nunc parum claram eu facilisis eros te feugait nulla facilisi dolore
                                tempor cum soluta.
                            </p>
                        </div>
                        <div>
                            <div class="photo">
                                <img src="{% static '/images/Landing/infobox3.png' %}" alt="">
                            </div>
                            <h4>Web App Interfaces</h4>
                            <p>Claritas est etiam processus dynamicus, qui sequitur consuetudium
                                lectorum quam nunc parum claram eu facilisis eros te feugait nulla facilisi dolore
                                tempor cum soluta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="used Slide">
            <h2>We've had the <b>pleasure</b> to work with:</h2>
            <p>Claritas est etiam processus dynamicus qui mutationem.</p>
            <div class="logos1">
                <img src="{% static '/images/Landing/logo-41.png' %}" alt="">
                <img src="{% static '/images/Landing/logo-31.png' %}" alt="">
                <img src="{% static '/images/Landing/logo-21.png' %}" alt="">
                <img src="{% static '/images/Landing/logo-51.png' %}" alt="">
            </div>
            <br>
            <br>
            <br><br><br>
            <div class="logos2">
                <img src="{% static '/images/Landing/logo-11.png' %}" alt="">
                <img src="{% static '/images/Landing/logo-61.png' %}" alt="">
                <img src="{% static '/images/Landing/logo-71.png' %}" alt="">
            </div>
        </div>

    </main>

    <footer>

        <div class="desc">
            <div class="logo">
                <img src="{% static '/images/Landing/logo.png' %}" alt="">
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia veniam quam, expedita maxime voluptas
                facere
                dolorum animi excepturi quae reiciendis ullam officiis! Delectus saepe reiciendis quae repudiandae,
                velit
                explicabo voluptatum natus! Dolor officiis voluptas accusantium aut. Asperiores, nostrum sint! Itaque?
            </p>
        </div>

        <div class="copyright">
            <span>© All right reserved 2018.</span>
            <span><a href="#">The Bar Stock Exchange</a></span>
        </div>

    </footer>


</body>

</html>