@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

:root {
    --orange: #ef6848;
    --black: #181818;
    --darkGray: #313131;
    --white: #ffffff;
    --lightOrange: #ff9c51;
    --yellowOrange: #ffb650;
    --placeholder: #8f8f8f;

  /* To Use Variables Do This : var(--white) */
}

body {
    display: none;
}

@media only screen and (max-width: 500px){

    button{
        outline: none;
        border: none;
        
    }

    .MenuPage{
        display: block;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--black);
        font-family: "Raleway", sans-serif;
    }
    .MenuPage .heading{
        text-align: center;
    }

    .MenuPage .headingName{
        color: white;
        margin-left: 1em;
        font-family: "Raleway", sans-serif;
        letter-spacing: 3px;
        border-bottom: 3px solid #ef6848;
        width: 8em;
        line-height: 2em;
        font-size: 24px;
        font-weight: bolder;
    }

    .logo{
        text-align: center;
    }

    .MenuPage .itemList .item{
        background-color:  #212529;
        color: white;
        margin: 1em;
        padding: 1em;
        box-shadow: 2px 2px 10px 3px black;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-column-gap: 5%;
        letter-spacing: 1.5px;
        font-weight: 600;
    }

    .right-1{
        display: none;
    }

    .addbutton{
        border: none;
        text-align: center;
        color: white;
        background-color: #ef6848;
        height: 21px;
        width: 55px;
        border-radius: 10px;
        font-weight:500;
    }

    .price{
        color: #ef6848;
    }

    .quantity{
        width: 15px;
        height: 18.8px;
        background-color: #ef6848;
        border: none;
        font-size: 13px;
        font-family: "Raleway", sans-serif;
        color: white;
    }

    .right .minus{
        border: none;
        text-align: center;
        color: white;
        background-color: #ef6848;
        height: 21px;
        width: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: -6px;
    }

    .right .plus{
        border: none;
        text-align: center;
        color: white;
        background-color: #ef6848;
        height: 21px;
        width: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: -7px;
    }
}