@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

root {
  --orange: #ef6848;
  --black: #181818;
  --darkGray: #313131;
  --white: #ffffff;
  --lightOrange: #ff9c51;
  --yellowOrange: #ffb650;
}

body {
  display: none;
}

@media only screen and (max-width: 500px) {
  .RegistrationPage {
    display: block;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--black);
    font-family: "Raleway", sans-serif;
  }

  .RegistrationPage .input .details {
    margin-top: 2em;
    text-align: center;
  }

  .RegistrationPage .heading h2 {
    display: flex;
    justify-content: center;
    color: wheat;
    margin-top: 35%;
    margin-bottom: 0;
  }

  /* .RegistrationPage .details input {
    background-color: #313131;
    outline: none;
    margin-top: 1em;
    border: none;
    border-radius: 25px;
    width: 75%;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px #030303c4;
  } */

  .RegistrationPage .details input {
    width: 70%;
    height: 2rem;
    line-height: 1.7rem;
    padding: 0 5px;
    padding-left: 15px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: transparent;
    color: white;
    margin-top: 15px;
    outline: none;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.5),
      5px 5px 15px rgba(82, 82, 82, 0.12),
      inset -5px -5px 15px rgba(0, 0, 0, 0.5),
      inset 5px 5px 15px rgba(92, 92, 92, 0.12);
  }

  /* #ff8500 */
  .RegistrationPage .details input[type="submit"] {
    box-shadow: -3px -3px 10px #fc48205e, 2px 2px 10px #fc48205e;
    background-image: linear-gradient(45deg, #fc4820, #ef6848);
    height: 35px;
    width: 100px;
    border-radius: 25px;
    line-height: 35px;
    padding: 0;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    outline: none;
    border: none;
    margin-top: 25px;
  }

  .RegistrationPage .details button a {
    text-decoration: none;
    color: var(--white);
  }

  .RegistrationPage .details .label {
    color: var(--orange);
  }

  form label,
  form p {
    display: none;
  }
}
