header .logo {
  width: 30%;
  margin: 30px 0 !important;
}

.stockBody {
  overflow: hidden;
}

table {
  display: block;
  height: 80vh;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 95%;
  color: white;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
}

.autoScroll {
  background-color: red;
}

table th {
  position: sticky;
  top: 0;
  background-color: #1e2225 !important;
}

table::-webkit-scrollbar {
  display: none;
}

table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table td,
table th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  width: 9%;
}

table tr:nth-child(even) {
  background-color: #444444;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: transparent;
  color: var(--orange);
}

table .red {
  background-color: #ff3a0ee5;
}

table .green {
  background-color: #2ac72a;
}
