{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add CSS Files Here -->

    <!--'styles.css' At The Top -->

    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/registration.css' %}">
    <!-- End CSS -->

    <title>| Food Stock Exchange</title>
</head>

<body class="RegistrationPage">

    <header>
        <img class="logo" src="{% static '/images/Logo/cover.png' %}" alt="" />
    </header>

    <!-- Start Header -->

    <div class="heading">
        <h2>Register Here</h2>
    </div>

    <!-- End Header -->

    <!-- Start Main -->

    <main class="input">

        <form class="details" method="POST" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="submit">
        </form>

    </main>

    <!-- End Main -->

    <!-- Start Footer -->

    <footer></footer>

    <!-- End Footer -->

    <!-- Add JS Files Here -->

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Enter your Name';
        form_fields[2].placeholder = 'Email-Id';
        form_fields[3].placeholder = 'Password';
        form_fields[4].placeholder = 'Confirm Password';

    </script>
    <!-- End JS -->
</body>

</html>